<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


 <div class="logo-container">
    <ion-img src="../../../assets/LOGO-WEB.webp" alt="Logo"></ion-img>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">DNI</ion-label>
      <ion-input formControlName="dni" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CONTRASEÑA</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <br>
    <ion-button type="submit" expand="block" [disabled]="!loginForm.valid">Iniciar Sesión</ion-button>

    <br>

  <ion-button expand="block" href="https://wa.me/5491150639154" target="_blank">Olvidé Mi Contraseña</ion-button>

  </form>

</ion-content>
