<ion-header>
  <ion-toolbar color="primary"> <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Declaraciones Juradas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed> <ion-row *ngIf="pdfs?.length">
      <ion-col size="12" size-md="6" *ngFor="let pdf of pdfs"> <ion-card class="pdf-card">  <ion-card-header>
            <ion-card-title class="ion-text-center">{{ pdf.pdf }}</ion-card-title> </ion-card-header>
          <ion-card-content class="ion-text-center">
            <ion-button (click)="verPdf(pdf.pdf)" color="success" expand="block"> Ver PDF
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-card *ngIf="!pdfs?.length" class="no-pdfs-card">
      <ion-card-content>
        <p>No hay PDFs de Declaraciones Juradas disponibles.</p>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
