<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Información AFIP</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="afip">
    <ion-card-header>
      <ion-card-title>Detalles del Usuario AFIP</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>CUIT:</ion-label>
          <ion-label>{{ afip.cuit }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Clave Fiscal:</ion-label>
          <ion-label>{{ afip.claveFiscal}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content> -->


<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Información AFIP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="afip" class="afip-card">
    <ion-card-header class="afip-card-header">
      <ion-card-title class="afip-card-title">Detalles del Usuario AFIP</ion-card-title>
    </ion-card-header>
    <ion-card-content class="afip-card-content">
      <ion-list lines="none">
        <ion-item>
          <ion-label class="afip-label">CUIT:</ion-label>
          <ion-label class="afip-value">{{ afip.cuit }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="afip-label">Clave Fiscal:</ion-label>
          <ion-label class="afip-value">{{ afip.claveFiscal }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div *ngIf="!afip" class="ion-text-center ion-padding">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando datos de AFIP...</p>
  </div>
</ion-content>
