
<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="user">
    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-label>{{ user.nombre }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Apellido:</ion-label>
      <ion-label>{{ user.apellido }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Dirección:</ion-label>
      <ion-label>{{ user.direccion }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>DNI:</ion-label>
      <ion-label>{{ user.dni }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Edad:</ion-label>
      <ion-label>{{ user.edad }}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
