

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Recibos de Sueldo</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-card *ngFor="let doc of reciboSueldoDocs$ | async">
    <ion-card-header>
      <ion-card-title>Recibo de Sueldo: {{ doc.mes }}/{{ doc.anio }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="doc.pdf">
        <a [href]="doc.pdf" target="_blank" rel="noopener noreferrer">Abrir PDF</a>
      </div>
      <div *ngIf="!doc.pdf">
        <p>No hay PDF disponible</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
