ion-grid {
  height: 100%;
}

.button-square {
  --border-radius: 8px;
  height: auto;  /* Permitir que la altura se ajuste al contenido */
  width: 100%; /* Ocupar todo el ancho de la columna */
  font-size: 1.2rem;
  display: flex; /* Usar flexbox para centrar el contenido */
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
}

ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}


@media (max-width: 576px) {
  .button-square {
    height: 100px;
    font-size: 1rem;
  }
}


// ion-grid {
//   height: 100%;
// }

// .button-square {
//   --border-radius: 8px;
//   height: auto;  /* Permitir que la altura se ajuste al contenido */
//   width: 100%; /* Ocupar todo el ancho de la columna */
//   font-size: 1.2rem;
//   display: flex; /* Usar flexbox para centrar el contenido */
//   align-items: center; /* Centrar verticalmente */
//   justify-content: center; /* Centrar horizontalmente */
// }

// ion-col {
//   display: flex;
//   align-items: stretch;  /* Estirar los botones para ocupar toda la altura de la columna */
//   justify-content: center;
// }

// @media (max-width: 576px) {
//   .button-square {
//     font-size: 1rem;
//   }
// }
